{% extends "./template/_layout.html" %}
{% block content %}
<div id="main">
    {% if user.userid === undefined %}
    <div class="login-form login">
        <form method="post" action="/user/login">
            <li>
                <input class="login-input" type="text" name="userid" placeholder="아이디를 입력하세요">
            </li>
            <li>
                <input class="login-input" type="password" name="userpw" placeholder="패스워드를 입력하세요">
            </li>
            <li>
                <input class="btn btn-font btn-login" type="submit" value="로그인하기">
            </li>
            <li>
                <a class="btn btn-font btn-login" href="/user/signup">회원가입</a>
            </li>
        </form>
    </div>
    {% elif user.userid !== undefined %}
    <div class="login-form welcome">
        <h1>{{user.username}}님 환영합니다!</h1>
    </div>
    {% endif %}
    <div id="slide-content">
        <div class="img-area">
            <div class="album">
                <img src="/img/img1.jpg" alt="#" >
                <img src="/img/img2.jpg" alt="#" >
                <img src="/img/img3.jpg" alt="#" >
                <img src="/img/img4.jpg" alt="#" >
                <img src="/img/img5.png" alt="#" >
            </div>
        </div>
    </div>
</div>
{% endblock %}