<<<<<<< HEAD
/* CSS style sheet */

=======
/* CSS style sheet */

/* 공통 */
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a,.btn{
    text-decoration: none;
    /*font-weight: bold;*/
    transition: all .25s linear;
    color: olivedrab;
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    padding: 2px 3px;
    border-style: none;
    text-transform: uppercase;
}
.btn-font {
    font-size: 12px;
}
.btn:hover, a:hover {
    opacity: 0.7;
}
p {
    line-height: 1.5em;
}
/* 마우스로 드래그시 */
::selection {
    background: black;
    color: white;
}
<<<<<<< HEAD
>>>>>>> f001b31fa605226ec50b8512b2d93bc59cd33a5d
=======

/* main wrap 영역 */
#main-wrap {
    width: 100%;
    padding-top: 57px;
}

/* 페이지별 컨텐츠 */
#main,#user-signup,#user-infoupdate,#board-view,#user-login,#user-profile{
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    /* css flex */
    display: flex;
    align-items: center;
}
>>>>>>> 1d60adc1054418230679d5040c23264d2bb26c6f
