{% extends "../template/_layout.html" %}
{% block content %}
<div id="user-profile">
    <form method="post" action="/user/profile">
        <ul>
            <li>
                <p>이름</p> : {{user.username}}
            </li>
            <li>
                <p>별명</p> : {{user.nickname}}
            </li>
            {% if user.gender === '남' %}
            <li>
                <p>성별</p> : {{user.gender}}자
            </li>
            {% elif user.gender === '여' %}
            <li>
                <p>성별</p> : {{user.gender}}자
            </li>
            {% endif %}
            <li>
                <p>주소</p> : {{user.localadd}}
            </li>
            <li>
                <p>이메일</p> : {{user.email}}
            </li>
            <li>
                <p>전화번호</p> : {{user.tel}}
            </li>
            <li>
                <p>생일</p> : {{user.birth}}
            </li>
        </ul>
        <ul class="profile-btn-group">
            <li>
                <a class="btn btn-font btn-medium btn-blue" href="/user/update">수정하기</a>
            </li>
            <li>
                <a class="btn btn-font btn-medium btn-blue" href="/">뒤로가기</a>
            </li>
        </ul>
    </form>
</div>
c{% endblock %}