<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>node mini project</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>
<div id="wrap">
    <!-- 내용 -->
    {% include "./_header.html" %}
    {% block content %}
    {% endblock %}
    {% include "./_footer.html" %}
</div>
</body>
    <script type="text/javascript" src="http://localhost:3000/slide.js"></script>
<script type="text/javascript" src="http://localhost:3000/test.js"></script>
</html>