{% extends "../../template/_layout.html" %}
{% block content %}
<div id="board-view">
    <ul>
        <li>
            게시물 번호 : {{data.idx}}
        </li>
        <li>
            제목 : {{data.subject}}
        </li>
        <li>
            작성자 : {{data.nickname}}
        </li>
        <li>
            작성일 : {{data.date}}
        </li>
        <li>
            내용 : {{data.story}}
        </li>
    </ul>
    <a class="btn btn-font" href="/board/list">목록가기</a>

    <form method="post" action="/board/list/delete">
        <input type="hidden" name="index" value="{{index}}">
        <input class="btn btn-font" type="submit" value="삭제">
    </form>
    
    <a class="btn btn-font" href="/board/list/update?index={{index}}">수정하기</a>
</div>
{% endblock %}