{% extends "../../template/_layout.html" %}
{% block content %}
    <h1>글 작성 페이지에요!!</h1>
    <form method="post" action="/board/list/write">
        <ul>
            <li>
                제목 : <input type="text" name="subject">   
            </li>
            <li>
                작성자 : <input type="text" name="nickname">
            </li>
            <li>
                내용 : <input type="text" name="story">
            </li>
        </ul>
        <input type="submit" value="글 작성">
    </form>
{% endblock %}